
<!-- Content Area Starts -->
  <div class="content-area container" >
  <!-- Page Content Starts -->
    <div class="page-content row">
    <!-- Main Area Starts -->
      <div class="col-sm-8 col-xs-12"ng-controller="blogCtrl">
        <h2>Blog</h2>
      <!-- Blog Post #1 Starts -->
				<!--Magic Happens here-->
        <article class="blog-post" ng-repeat="post in Posts.items">
      <div class="row">
      <!-- Post Info Left Starts -->
        <div class="col-sm-2 col-xs-12">
          <div class="post-info-left">
            <div class="meta-type date">
            <!--  {{getDay(post.published).scope()}}
              {{getMonth(post.published).scope()}}
              <h3 class="day spl">{{Day}}</h3>
              <h3 class="month">{{Month}}</h3>-->
                <blogdate date="{{post.published}}"></blogdate>
            </div>
            <!--<div class="meta-type media">
              <i class="fa fa-image"></i>
            </div>-->
          </div>
        </div>
      <!-- Post Info Left Ends -->
      <!-- Blog Content Starts -->
        <div class="col-sm-10 col-xs-12">
          <div class="blog-content">
          <!-- Blog Media Starts -->
            <!--<div class="blog-media">
             not sure what to do with this yet.
            <img src="" alt="Blog Title" class="img-responsive">
          </div>-->
          <!-- Blog Media Ends -->
          <!-- Blog Title Starts -->
            <h3 class="blog-title">
              <a  href="/blog/post/{{post.id}}">{{post.title}} </a>
            </h3>
          <!-- Blog Title Ends -->
          <!-- Post Info Starts -->
            <ul class="post-info list-unstyled list-inline">
              <li>
                <i class="fa fa-user"></i>
                <a >{{post.author.displayName}}</a>
              </li>
              <li ng-repeat="tag in post.labels"  >
                <i ng-if="$first" class="fa fa-tag" ></i>
                <a href="#">{{tag}}</a>,

              </li>
            <!--	<li>
                <i class="fa fa-comments"></i>
                <a href="#">0 Comments</a>
              </li>-->
            </ul>
          <!-- Post Info Ends -->
          <!-- Blog Post Content Starts -->
            <div class="blog-post-content">
              <p>
                <!--{{post.content}}-->
                <blogpreview content="{{post.content}}"></blogpreview>
              </p>
              <p>
                  <a  href="/blog/post/{{post.id}}" class="more-link">
                  Read more
                  <i class="fa fa-arrow-circle-right"></i>
                </a>
              </p>
            </div>
          <!-- Blog Post Content Ends -->
          </div>
        </div>
      <!-- Blog Content Ends -->
      </div>
      </article>


      <!-- Blog Post #1 Ends -->
            <!-- Pagination Starts -->
        <egblogPagination></egblogPagination>
        <div style="display: inline-block;">
        <a ng-click='goBack()' ng-show="isFirstPage()"  id="pageBack" class="more-link"><i class="fa fa-arrow-circle-left"></i> Previous Page </a>&nbsp;
        <a href="/blog/{{Posts.nextPageToken}}" class="more-link"> Next Page <i class="fa fa-arrow-circle-right"></i></a>
      </div>
      <!-- Pagination Ends -->
      </div>
    <!-- Main Area Ends -->
    <!-- Sidearea Starts -->
      <div class="col-sm-4 col-xs-12">
        <h2>About The <span>Author</span></h2>
        <div class="blog-author-bio">
          <!-- set up mini Bio and Link-->
          <div class="row">
            <div class="col-xs-4 author-bio-img">
              <img src="images/blog/BillAbout.jpg" alt="Avatar" class="img-responsive" />
            </div>
            <div class="col-xs-8">
              <h4>
              The Country Preacher : <a href="http://billsanders.blogspot.com/p/about-me.html">Bill Sanders</a>
            </h4>
              <p>
                I am known as "Brother Bill" and I'll skip all the hoop-la and formality of being a senior pastor. I'm a family man; I have a beautiful wife, Nancy, two lovely daughters, six awesome grandkids, and two sweet great-grandkids. I love fixing up old cars and watching the Rangers play baseball.
                  </p>
            </div>
          </div>
        </div>
        <br>
        <h2>Want to read more or subscribe to get my blog sent directly to your email?</h2>
        <a href="http://billsanders.blogspot.com/"class="btn btn-secondary">Go to the Country Preacher!</a>
      </div>
    <!-- Sidearea Ends -->
    </div>
  <!-- Page Content Ends -->

</div>
<!-- Content Area Ends -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67718527-1', 'auto');
  ga('send', 'pageview');

</script>
